<fieldset class="fieldset create account">
    <p>
    <div class="field department">
        <label for="department" class="label"><span>
                <?php /* @escapeNotVerified */ echo __('Department') ?></span></label>
        <div class="control">
            <input type="text" name="department" id="department" title="<?php /* @escapeNotVerified */ echo __('Department') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
    </p>
</fieldset>
