<label>How did you find about us?</label>

<select name='referrer'>
    <option value="0" selected></option>
    <option value=“1”>Facebook</option>
    <option value=“2”>Instagram</option>
    <option value="3">Word of Mouth</option>
    <option value="4">Local Café</option>
    <option value="5">Other</option>
</select>
